@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    PhotoPrintWXSmall.Views.ViewConst.SetRoutType(ViewData, PhotoPrintWXSmall.Views.RoutType.订单);
}
<div class="jumbotron">
    <h1>订单展示</h1>
</div>
<h2>筛选订单状态</h2>
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <select class="form-control" onchange="findStatus(this)">
            <option value="@((int)OrderStatus.waitingSend)">待发货</option>
            <option value="-10">待下载</option>
            <option value="-11">已下载</option>
            <option value="@((int)OrderStatus.waitingPay)">待用户付款</option>
            <option value="@((int)OrderStatus.finish)">完成</option>
            <option value="@((int)OrderStatus.all)">全部</option>
        </select>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>订单号</td>
                <td>商品标题</td>
                <td>订单金额</td>
                <td>下单时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="orderList"></tbody>
    </table>
</div>
<!-- #region 发货开始 -->
<div class="modal fade" id="sendOrderModal" tabindex="-1" role="dialog" aria-labelledby="sendOrderTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="sendOrderTitle">发货</h4>
            </div>
            <div class="modal-body">
                <input class="hidden" id="sendOrderID" />
                <p><label>订单号：</label><span id="sendOrderNumber"></span></p>
                <label>物流公司：</label>
                <input class="form-control" type="text" id="sendOrderCompany" />
                <label>运单号：</label>
                <input class="form-control" type="text" id="sendOrderCompanyNumber" />
            </div>
            <div class="modal-footer">
                <button type="button" id="sendOrderClose" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="sendOrder()" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion 发货结束 -->
<script>
    window.onload = function () {
        loadOrder(1);
    };

    function findStatus(obj) {
        var status = $(obj).val();
        var downloaded = -1;

        if (status == -10) {
            downloaded = 0;
            status = @((int)OrderStatus.waitingSend);
        } else if (status == -11) {
            downloaded = 1;
            status = @((int)OrderStatus.waitingSend);
        }
        loadOrder(status, downloaded);
    }

    function loadOrder(orderStatus = -2, downloaded=-1) {
          var orderList = $("#orderList");
          $.getJSON("@Context.Request.PathBase/Merchant/GetAllOrders", { orderStatus: orderStatus, downloaded: downloaded},function (data, status) {
              if (data.StatusCode == @((int)Tools.ActionParams.code_ok)) {
                  orderList.html("");
                $.each(data.JsonData, function (i, item) {
                    var title = item.ShopList[0].Goods.GoodsClass == @((int)GoodsClass.OneGoods)?
                        item.ShopList[0].Goods.SizeType.TypeName +
                        item.ShopList[0].Goods.PrintType.TypeName +
                        item.ShopList[0].Goods.PaperType.TypeName : item.ShopList[0].Goods.Title;
                    var downloadText = item.Downloaded ? "重新下载" : "下载";
                    orderList.append("<tr>" +
                        "<td>" + item.OrderNumber + "</td>" +
                        "<td>" +
                        title +
                        "</td>" +
                        "<td>" + item.OrderPrice + "</td>" +
                        "<td>" + item.CreateTime + "</td>" +
                        "<td><button class='btn btn-primary ' onclick=\"downloadOrder('" + item.OrderID.toString() + "')\">" +
                        downloadText +
                        "</button>&nbsp;&nbsp;<a class='btn btn-danger " + (item.OrderStatus== @((int)OrderStatus.waitingSend)?"":"hidden") + "' data-toggle='modal' data-target='#sendOrderModal' onclick=\"getOrderInfo('" + item.OrderID.toString() + "','" + item.OrderNumber.toString() + "')\">发货</a></td>" +
                        "</tr>");
                });
            }
        });
    }


    function downloadOrder(orderID) {
        window.location.href = "@Context.Request.PathBase/Merchant/GetOrderFile?orderID=" + orderID;
    }

    function getOrderInfo(orderID, orderNumber) {
        $("#sendOrderNumber").text(orderNumber);
        $("#sendOrderID").val(orderID);
    }

    function sendOrder() {
        var orderID = $("#sendOrderID").val();
        var sendOrderCompany = $("#sendOrderCompany").val();
        var sendOrderCompanyNumber = $("#sendOrderCompanyNumber").val();
        $.getJSON("@Context.Request.PathBase/Merchant/SendOrder", { orderID: orderID, company: sendOrderCompany, number: sendOrderCompanyNumber }, function (data, status) {
            if (data.StatusCode == @((int)Tools.ActionParams.code_ok)) {
                alert("发货成功");
                $("#sendOrderClose").click();
            } else {
                alert("发货失败");
            }
        });
    }

</script>